a {
  text-decoration: none;
}
body {
  padding: 50px;
  font-family: "Yusei Magic", sans-serif;
}
.btn-primary {
  margin-left: 8px;
  background: white;
  color: black;
  border: 1px solid #ced4da;
}
.calendar img {
  max-width: 100px;
  float: right;
  position: relative;
  top: -15px;
}
.calendar-image {
  width: 40px;
  margin-top: 35px;
}
.calendar :hover {
  background: #95daf5;
}

.weather-app {
  width: fit-content;
  border: 1px solid #dfe1e5;
  border-radius: 4px;
  padding: 30px;
  background: rgb(233, 247, 252);
}

.date,
.time {
  font-size: large;
}
.day-one {
  text-align: center;
  margin-right: 5px;
  float: left;
  transition: all 250ms ease-in-out;
}
.day-one :hover {
  background: #95daf5;
}
.day-two :hover {
  background: #95daf5;
}
.day-three :hover {
  background: #95daf5;
}
.day-four :hover {
  background: #95daf5;
}
.day-five :hover {
  background: #95daf5;
}
.btn-primary:hover {
  background: #95daf5;
}
.day-two {
  float: left;
  text-align: center;
  margin-right: 5px;
  transition: all 250ms ease-in-out;
}
.day-three {
  float: left;
  text-align: center;
  margin-right: 5px;
  transition: all 250ms ease-in-out;
}
.day-four {
  float: left;
  text-align: center;
  margin-right: 5px;
  transition: all 250ms ease-in-out;
}
.day-five {
  float: left;
  text-align: center;
  margin-right: 5px;
  transition: all 250ms ease-in-out;
}
.forecast {
  margin-top: 20px;
}
.image-today {
  width: 80px;
}
.today {
  margin-top: 30px;
  text-align: left;
  margin-bottom: 15px;
}
.today h4 {
  display: inline;
}
.today-more {
  font-size: large;
}
.today-more,
.calendar {
  margin-top: 40px;
  margin-bottom: 1px;
  text-align: left;
}
.units {
  display: inline-block;
  font-size: x-small;
  vertical-align: text-top;
}
