a {
  text-decoration: none;
}
body {
  padding: 20px;
  font-family: "Yusei Magic", sans-serif;
}
h6 {
  display: inline;
}
.btn-primary {
  margin-top: 10px;
  background: white;
  color: black;
  border: 1px solid #aaa69d;
}

.weather-app {
  width: fit-content;
  border: 1px solid #aaa69d;
  border-radius: 6px;
  padding: 30px;
  background: rgb(169, 220, 241);
  box-shadow: 1px 1px 6px #aaa69d;
}

.day-one {
  text-align: center;
  margin-right: 5px;
  float: left;
  transition: all 250ms ease-in-out;
}

.forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-icon {
  display: inline-block;
  width: 60px;
}
.form-control {
  border: 1px solid #aaa69d;
}
.image-today {
  width: 80px;
}

.today {
  text-align: left;
  margin-bottom: 15px;
}
.today h4 {
  display: inline;
}

.calendar,
.more-info {
  margin-top: 50px;
  margin-bottom: 1px;
  text-align: left;
}
.units {
  display: inline-block;
  font-size: x-small;
  vertical-align: text-top;
}
.units .active {
  color: black;
  cursor: pointer;
}
